.crypto-full-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
}

.crypto-list {
    overflow: auto;
    height: 96%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.crypto-list-center {
    transform: translate(50vh);
    transition: all 0.3s ease-in-out;
}

.crypto-metadata {
    flex-direction: row;
    display: grid;
    align-items: center;
    width: 45%;
    color: #f5f7fa;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-bottom: 1px solid #f5f7fa56;
    grid-template-columns: 25% 30%;
}

.crypto-metadata:hover {
    flex-direction: row;
    display: grid;
    align-items: center;
    width: 45%;
    color: #092c47;
    background-image: linear-gradient(to right, #f2a900, #092c47);
    border-bottom: 1px solid #092c47;
    grid-template-columns: 25% 30%;
}

.crypto-name {
    margin-right: 25px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.crypto-symbol {
    margin-right: 25px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.crypto-ind-view {
    position: fixed;
    left: 50%;
    top: 10vh;
    height: 87%;
    width: 47%;
    color: white;
    margin-top: 10px;
    overflow: auto;
}

.crypto-ind-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.crypto-view-row {
    display: grid;
    grid-template-columns: 40% 60%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%
}

.crypto-view-row-offset {
    display: grid;
    grid-template-columns: 60% 40%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%
}

.crypto-view-row-center {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%
}

.crypto-view-info-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 10px 10px 10px 10px;
    height: 20vh;
}

.crypto-view-info-table {
    border: 5px solid #f2a900;
    table-layout:fixed;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.crypto-view-info-table-data-title {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #5a6d7c;
    color: #f5f7fa;
    font-size: large;
    width: 100%;
    height: 100%;
}

.crypto-view-info-table-data {
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#f5f7fa;
    color: #092c47;
    width: 100%;
    height: 100%;
}

.crypto-view-info-table-row {
    text-align: left;
}

.crypto-view-find-markets {
    width: 100%;
    display: flex;
    align-items: center;
}

.crypto-view-find-markets button {
    width: 100%;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.crypto-filter-bar {
    color:white;
    margin-left: 30px;
    display: flex;
}

.crypto-filter-bar label {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.crpyto-full-list-title {
    margin-right: 57px;
    font-size: 20px;
    border-bottom: 1px solid #f5f7fa56;
}

.crypto-close-button {
    background-color: #d6e4e9;
    border: 1px solid #092c47;
    font-size: 1em;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #092c47;
    font-weight: bolder;
}

.crypto-close-button:hover {
    background-color: #e08b00;
    border: 1px solid #092c47;
    font-size: 1em;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #092c47;
    font-weight: bolder;
}

.crypto-view-find-markets button {
    background-color: #d6e4e9;
    border: 1px solid #092c47;
    font-size: 1.5em;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #092c47;
    font-weight: bolder;
    margin-top: 10px;
}

.crypto-view-find-markets button:hover {
    margin-top: 10px;
    background-color: #e08b00;
    border: 1px solid #092c47;
    font-size: 1.5em;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #092c47;
    font-weight: bolder;
}

.crypto-view-info-panel {
    border: 5px solid #f2a900;
    display: flex;
    flex-direction: column;
    color: #f5f7fa;
    margin: 10px 10px 10px 10px;
}

.crypto-view-info-title {
    background-color: #5a6d7c;
    color: #ffffff;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-bottom: 2px solid #f2a900;
}

.crypto-view-info-value {
    background-color: #f5f7fa;
    color: #092c47;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-top: 2px solid #f2a900;
}

.crypto-ind-title {
    font-size: 2em;
    width: 96%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #f5f7fa;
    border: 5px solid #f2a900;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #092c47;
    font-weight: 700;
}