.global-view-container {
    height: 100%;
    width: 100%;
    grid-template-rows: 33% 34% 33%;
    display: grid;
}

.global-view-full-container {
    height: 65%;
    width: 65%;
}

.global-view-full-container button{
    background-color: #d6e4e9;
    border: 1px solid #092c47;
    font-size: 1em;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #092c47;
    font-weight: bolder;
    margin-left: 10px;
}

.global-view-full-container button:hover{
    background-color: #e08b00;
    border: 1px solid #092c47;
    font-size: 1em;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #092c47;
    font-weight: bolder;
    margin-left: 10px;
}

.info-panel {
    border: 5px solid #f2a900;
    display: flex;
    flex-direction: column;
    color: #f5f7fa;
    margin: 10px 10px 10px 10px;
}

.global-view-row {
    grid-template-columns: 35% 30% 35%;
    display: grid;
}

.global-view-row-offset {
    grid-template-columns: 30% 40% 30%;
    display: grid;
}

.info-panel-title {
    background-color: #5a6d7c;
    color: #ffffff;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-bottom: 2px solid #f2a900;
}

.info-panel-content {
    background-color: #f5f7fa;
    color: #092c47;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-top: 2px solid #f2a900;
}
