.full-header-container {
    background-color: #3a7ca5;
    vertical-align: middle;
    position: absolute;
    height: 10vh;
    width: 100%;
    top: 0%;
    left: 0%;
}

.header-navigation {
    display: flex;
}

.header-items {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.header-title {
    margin-top: 5px;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #092c47;
    font-weight: bolder;
    font-family: 'Trebuchet MS', sans-serif;
}

.nav-item button {
    background-color: #d6e4e9;
    border: 1px solid #092c47;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 1vh;
    padding-top: 1vh;
    color: #092c47;
    font-weight: bolder;
}

.nav-item button:hover {
    background-color: #e08b00;
    border: 1px solid #092c47;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 1vh;
    padding-top: 1vh;
    color: #092c47;
    font-weight: bolder;
}