.root-container {
  background-color: #092c47;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; 
}

.content-container {
 position: absolute;
 top: 10vh;
 left: 0%;
 height: 90vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}

.hidden {
  display: none;
}